.title {
  color: #000;

  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  margin: 0 auto;
}

.subtitle {
  color: #000;

  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0 auto;
}
.headerFlex {
  display: grid;
  grid-template-columns: repeat (2, 2fr);
  grid-template-rows: repeat (2, 2fr);
  margin-top: 48px;
}
