.select {
  width: 216px;
  height: 38px;
  color: #ced4da;
  grid-column: 2;
  grid-row: 2;
}
.nameSelect {
  color: #818182;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  grid-column: 2;
  grid-row: 1;
}
